.main {
  background-image:url("./imgs/home2.png");
  background-position: center;
}
.max-200 {
  max-width: 180px;
}
.fw-md {
  font-weight: 600;
}
.bg-grey {
  background:#deebea;
}
.mycontainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}